body {
    background-color: #D1E8E2;
    color: #2C3531;
}


/* this is css for the background of the table */

.background {
    display: block;
    width: fit-content;
    margin: auto;
    background-color: #116466;
    color: #d9b08c;
    font-family: Arial;
    border: 5px solid #2C3531;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px#2C3531;
}

.table-container {
    display: block;
    width: fit-content;
    margin: auto;
    max-height: 500px;
    overflow-y: auto;
}

.hide 
{
    display: none;
}

/* some table stylilng from https://divtable.com/table-styler/ */

table.topazCells {
    border: 4px solid #555555;
    background-color: #2c2b2b;
    width: 400px;
    text-align: center;
    border-collapse: collapse;
    overflow-y: hidden;
    max-height: 500px;
}

table.topazCells td,
table.topazCells th {
    border: 1px solid #116466;
    padding: 4px 7px;
}

table.topazCells tbody td {
    font-size: 13px;
    font-weight: bold;
    color: #FFCB9A;
}

table.topazCells tr:nth-child(even) {
    background: #116466;
}

table.topazCells tr:nth-child(even) td {
    color: #FFCB9A;
}

th {
    color: #D9B08C;
    font-size: 24px;
    position: sticky;
    background-color: #2c2b2b;
    top: 0;
    min-width: 100px;
}

i {
    font-size: 12px;
    margin-left: 5px;
    cursor: pointer;
}

.active-sort-arrow {
    font-size: 14px;
    font-weight: 600;
    color: #821f76;
}

.song-title-cell {
    min-width: 200px;
}

#pop-col-header {
    min-width: 150px;
}


/* 
table.topazCells tfoot td {
    font-size: 13px;
} */


/* table.topazCells tfoot .links {
    text-align: right;
}

table.topazCells tfoot .links a {
    display: inline-block;
    background: white;
    color: #A43152;
    padding: 2px 8px;
    border-radius: 5px;
} */

.form-background {
    display: block;
    width: fit-content;
    margin: auto;
}

.btn {
    border-radius: 10px;
    box-shadow: 4px 4px 3px #666666;
    color: white;
    font-size: 16px;
    background: #821f76;
    padding: 5px 10px;
    margin: 5px;
}

.btn:hover {
    background: #3cfc89;
    color: #2c2b2b;
    font-weight: 600;
}

.btn:active {
    box-shadow: none;
    transform: translate(4px, 4px);
}

label {
    font-weight: 600;
    margin: 5px;
}

select {
    margin: 5px;
}

progress {
    border-radius: 2px;
    width: 85%;
    height: 0.75rem;
    margin: auto;
}

progress::-webkit-progress-bar {
    background-color: #DEB992;
    border-radius: 7px;
}

progress::-webkit-progress-value {
    background-color: #1BA098;
    border-radius: 7px;
    /* box-shadow: 1px 1px 5px 3px rgba( 255, 0, 0, 0.8); */
}

progress::-moz-progress-bar {}