body {
    background-color: #D1E8E2;
    color: #2C3531;
    margin: 0;
    padding: 0;
    font-family: Arial;
    
}


/* this is css for the background of the table */

.background {
    display: block;
    width: fit-content;
    margin: auto;
    /* margin-top: 6em; */
    background-color: #116466;
    color: #d9b08c;
    border: 5px solid #2C3531;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px#2C3531;
}

.table-container {
    display: block;
    width: fit-content;
    margin: auto;
    max-height: 500px;
    overflow-y: auto;
}

.hide {
    display: none;
}


/* some table stylilng from https://divtable.com/table-styler/ */

table.topazCells {
    border: 4px solid #555555;
    background-color: #2c2b2b;
    width: 400px;
    text-align: center;
    border-collapse: collapse;
    overflow-y: hidden;
    max-height: 500px;
}

table.topazCells td,
table.topazCells th {
    border: 1px solid #116466;
    padding: 4px 7px;
}

table.topazCells tbody td {
    font-size: 13px;
    font-weight: bold;
    color: #FFCB9A;
}

table.topazCells tr:nth-child(even) {
    background: #116466;
}

table.topazCells tr:nth-child(even) td {
    color: #FFCB9A;
}

th {
    color: #D9B08C;
    font-size: 24px;
    position: sticky;
    background-color: #2c2b2b;
    top: 0;
    min-width: 100px;
}

tr {
    cursor: pointer;
}

tr:hover {
    background-color: #821f76 !important;
}

i {
    font-size: 15px;
    margin-left: 5px;
    cursor: pointer;
}

.active-sort-arrow {
    font-size: 20px;
    font-weight: 600;
    color: #D1E8E2;
}

.song-title-cell {
    min-width: 200px;
}

#pop-col-header {
    min-width: 150px;
}

#genre-col-header {
    min-width: 115px;
}

.form-background {
    display: block;
    width: fit-content;
    margin: auto;
}

.filters-div {
    display: grid;
    grid-template-columns: 1.5fr;
    grid-template-rows: 1fr 2fr;
    margin-top: 20px;
    margin-bottom: 10px;
}

.filter-div {
    display: inline;
}

#btn-container {
    display: inline;
    margin-left: 10px;
}

form {
    display: block;
    margin: auto;
    width: fit-content;
    text-align: center;
}

form #display-type {
    grid-area: 1 / 1 / 2 / 2;
    display: block !important;
    margin: auto !important;
}

form #song-search-form {
    grid-area: 2 / 1 / 3 / 2;
    display: inline !important;
    margin: auto !important;
}

label {
    background-color: #2c2b2bbe;
    border-radius: 8px;
    padding: 6px 6px;
}

.btn {
    border-radius: 10px;
    box-shadow: 4px 4px 3px #666666;
    color: white;
    font-size: 16px;
    background: #821f76;
    padding: 5px 10px;
    margin: 5px;
}

.btn:hover {
    background: #1BA098;
    color: #821f76;
    font-weight: 600;
    cursor: pointer;
}

.btn:active {
    box-shadow: none;
    transform: translate(4px, 4px);
}

label {
    font-weight: 600;
    margin: 5px;
}

select {
    margin: 5px;
}

progress {
    border-radius: 2px;
    width: 85%;
    height: 0.75rem;
    margin: auto;
}

progress::-webkit-progress-bar {
    background-color: #DEB992;
    border-radius: 7px;
}

progress::-webkit-progress-value {
    background-color: #1BA098;
    border-radius: 7px;
    /* box-shadow: 1px 1px 5px 3px rgba( 255, 0, 0, 0.8); */
}

.hide {
    display: none;
}


/*Attemping nav css*/

nav {
    display: flex;
    justify-content: space-between;
    background-color: #821f76;
    width: 100%;
    color: #D1E8E2;
    margin-bottom: 2em;
    height: 10%;
    min-height: 80px;
}

.nav-container {
    margin-left: 5%;
    margin-right: 5%;
}

#menu {
    /* width: 600px;*/
    height: auto;
    float: right;
    display: flex;
    justify-content: center;
    margin-right: 15rem;
    /* border: white 1px solid; */
}

#menu li {
    display: flex;
    list-style: none;
    padding: 0.5em 1em;
    border: 3px white solid;
    border-collapse: collapse;
    border-radius: 10px;
    margin: 0px 10px;
    font-weight: 600;
    /* 
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding:0px 22px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    c;
    color: #585B5B;
    letter-spacing: 1px; */
}

#menu li:hover {
    background-color: #1BA098;
    color: #821f76;
    border-radius: 10px;
    font-weight: 900;
    box-shadow: 2px 2px 1px #666666;
    cursor: pointer;
}

.nav-title {
    margin: 0px;
    display: flex;
    padding: 1em;
    flex-direction: column;
}

.nav-title h3,
h4 {
    margin: 0;
    padding: 0;
}

progress::-moz-progress-bar {
    display: inline;
}


/* button css from https://www.bestcssbuttongenerator.com/#/10 */

.playlist-add-btn,
.playlist-remove-btn {
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background-color: #eae0c2;
    border-radius: 15px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.playlist-add-btn:hover,
.playlist-remove-btn:hover {
    background-color: #ccc2a6;
}

.playlist-add-btn:active,
.playlist-remove-btn:active {
    position: relative;
    top: 1px;
}

#toast {
    visibility: hidden;
    min-width: 200px;
    margin-left: -125px;
    background-color: #821f76;
    color: #fff;
    text-align: center;
    border: 3px black solid;
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    left: 65%;
    bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.5) 8px 6px 4px 7px;
}


/* #toast {
    left: 65%;
    bottom: 30px;
}

#credits-toast {
    left: 50%;
    bottom: 30px
} */

a {
    color: #fff;
}


/* toast animation recipe from https://www.w3schools.com/howto/howto_js_snackbar.asp */

#toast.show {
    visibility: visible;
    /* Add animation: Take 0.5 seconds to fade in and out.
    Delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/* Animations to fade the toast in and out */

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

#credits-toast {
    visibility: hidden;
    min-width: 200px;
    margin-left: -125px;
    background-color: #116466;
    color: #d9b08c;
    text-align: center;
    border: 3px black solid;
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    left: 65%;
    top: 80px;
    box-shadow: rgba(0, 0, 0, 0.5) 8px 6px 4px 7px;
}

#credits-toast.show {
    visibility: visible;
    -webkit-animation: fadein2 0.5s, fadeout2 0.5s 4.5s;
    animation: fadein2 0.5s, fadeout2 0.5s 4.5s;
}

@-webkit-keyframes fadein2 {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 80px;
        opacity: 1;
    }
}

@keyframes fadein2 {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 80px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout2 {
    from {
        top: 80px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout2 {
    from {
        top: 80px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}


/*Circle Progress Bar stuff single song page
* https://alvarotrigo.com/blog/progress-bar-css/
 */
/*done tests */
.songview-parent{
   display: flex;
   text-align: center;
 /* grid-template-columns: 1fr 1fr; */
   /* width:50% */
}
.songview-parent div{
    margin: auto;
    align-items: center;
}



.bpm {
    color: #fff;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    /* animation: blinkingBackground 5s infinite; */
}

@keyframes blinkingBackground {
    /* 0% {
        background-color: #10c018;
    } */
    /* 25% {
        background-color: #1056c0;
    }
    50% {
        background-color: #ef0a1a;
    }
    75% {
        background-color: #254878;
    } */
    100% {
        background-color: #04a1d5;
    }
}

#titleSingle{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: auto;
    padding: 1em;
    
    font-size: 50px;
    font-weight: 800;
    text-shadow: 1px 1px 0 black, 1px 1px 0 black, 1px 1px black, 1px 1px 0 black;
    transform: scaleY(1.4);
}
#artist-name{
    text-decoration: overline underline;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 35px;
    color: rgb(255 255 255 / 86%);
    margin: 0;

}
#artist-type{
    /* background-color: red; */
    text-align: center;
    color: rgb(255 255 255 / 86%);
    font-style: italic;
}
